---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Seja Embaixador do Estugram">
  <main class="md:w-[1024px] mx-auto">
    <h1 class="font-poppinsBold text-2xl font-bold">Programa de Embaixadores Estugram</h1>
    <h1 class="font-poppinsBold my-5 text-xl font-bold">Seja um Embaixador do Estugram: transforme sua influência em oportunidade!</h1>

    <p class="my-5">Junte-se ao Programa de Embaixadores do Estugram e ajude a otimizar o estudo de seus seguidores enquanto ganha recompensas!</p>
    <p class="my-5 font-bold">O que é o Programa de Embaixadores do Estugram?</p>
    <p class="my-5">O Programa de Embaixadores do Estugram é uma oportunidade exclusiva para estudantes apaixonados por educação e inovação. Como embaixador, você promoverá o Estugram em suas redes sociais, ajudando-nos a alcançar mais alunos e a transformar a maneira como eles aprendem.</p>
    <p class="my-5 font-bold">Benefícios para os Embaixadores</p>
    <p class="my-5">Por que se tornar um Embaixador do Estugram?</p>
    <ul class="[&_li]:my-2 [&_li]:ml-5 [&_li]:list-disc">
      <li><strong>Plano PRO:</strong> Embaixadores tem acesso sem custo ao Estugram PRO.</li>
      <li><strong>Cupom de Desconto Personalizado:</strong> Ganhe um cupom de desconto personalizado para beneficiar seus seguidores.</li>
      <li><strong>Comissão de Vendas:</strong> Ganhe comissão sobre cada venda realizada através do seu link exclusivo de afiliado.</li>
      <li><strong>Acesso a Novos Recursos:</strong> Tenha acesso antecipado a novos recursos do Estugram.</li>
      <li><strong>Impacto Positivo:</strong> Ajude outros estudantes a alcançar seu potencial com uma ferramenta poderosa para aprimorar seus estudos.</li>
    </ul>

    <p class="my-5 font-bold">Como Funciona</p>
    <p class="my-5">Como funciona o programa?</p>
    <ul class="[&_li]:my-2 [&_li]:ml-5 [&_li]:list-disc">
      <li><strong>Inscrição:</strong> Preencha o formulário de inscrição com suas informações e redes sociais.</li>
      <li><strong>Seleção:</strong> Nossa equipe avaliará seu perfil e, se aprovado, você receberá um kit de boas-vindas.</li>
      <li><strong>Atuação:</strong> Compartilhe seu cupom de desconto, conteúdos e ações do Estugram em suas redes sociais, participe de eventos e campanhas promocionais.</li>
    </ul>

    <div class="text-center bg-base-200 p-10 rounded-lg mt-5 mb-10">
      <p class="font-bold">Inscreva-se Agora!</p>
      <p class="my-5">Pronto para fazer a diferença? Clique no link abaixo e faça parte do nosso programa de embaixadores.</p>
      <a class="btn btn-warning btn-lg" href="https://form.respondi.app/n3DYjBXg">Quero ser embaixador Estugram</a>
    </div>

    <p class="my-5 font-bold">Dúvidas?</p>
    <p class="mb-10">Entre em contato conosco através do e-mail ajuda@estugram.com ou pelas nossas redes sociais. Estamos aqui para ajudar!</p>
  </main>
</Layout>
