---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Estugram">
  <main>
    <div class="lg:w-[1024px] mx-auto text-base-content">
      <div class="my-48 text-center">
        <h1 class="font-poppinsBold text-5xl my-10 text-center text-white">Domine seu tempo de estudo.</h1>
        <h2 class="font-poppins text-xl my-10 text-center">Estugram é a ferramenta definitiva para gerenciar seu estudo com produtividade.</h2>
        <a class="btn btn-lg btn-success ring-success/20 ring-4 hover:ring-success/80" href="https://app.estugram.com">Experimente agora</a>
      </div>

      <div class="grid text-center md:grid-cols-3 gap-5">
        <div class="bg-base-200 p-10 rounded-lg">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-10 h-10 text-center inline text-green">
            <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zM12.75 6a.75.75 0 00-1.5 0v6c0 .414.336.75.75.75h4.5a.75.75 0 000-1.5h-3.75V6z" clip-rule="evenodd"></path>
          </svg>

          <h2 class="font-poppinsBold my-5 text-white">Timer com opção Pomodoro</h2>

          <p>Gerencie seu tempo de estudo com Modo Pomodoro ou Cronômetro.</p>
        </div>

        <div class="bg-base-200 p-10 rounded-lg">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-10 h-10 inline text-center text-green">
            <path fill-rule="evenodd" d="M7.502 6h7.128A3.375 3.375 0 0118 9.375v9.375a3 3 0 003-3V6.108c0-1.505-1.125-2.811-2.664-2.94a48.972 48.972 0 00-.673-.05A3 3 0 0015 1.5h-1.5a3 3 0 00-2.663 1.618c-.225.015-.45.032-.673.05C8.662 3.295 7.554 4.542 7.502 6zM13.5 3A1.5 1.5 0 0012 4.5h4.5A1.5 1.5 0 0015 3h-1.5z" clip-rule="evenodd"></path>
            <path fill-rule="evenodd" d="M3 9.375C3 8.339 3.84 7.5 4.875 7.5h9.75c1.036 0 1.875.84 1.875 1.875v11.25c0 1.035-.84 1.875-1.875 1.875h-9.75A1.875 1.875 0 013 20.625V9.375zm9.586 4.594a.75.75 0 00-1.172-.938l-2.476 3.096-.908-.907a.75.75 0 00-1.06 1.06l1.5 1.5a.75.75 0 001.116-.062l3-3.75z" clip-rule="evenodd"></path>
          </svg>

          <h2 class="font-poppinsBold my-5 text-white">Controle de questões</h2>
          <p>Analise seu desempenho em questões com estatísticas detalhadas.</p>
        </div>
        <div class="bg-base-200 p-10 rounded-lg">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-10 h-10 text-green inline text-center">
            <path d="M18.375 2.25c-1.035 0-1.875.84-1.875 1.875v15.75c0 1.035.84 1.875 1.875 1.875h.75c1.035 0 1.875-.84 1.875-1.875V4.125c0-1.036-.84-1.875-1.875-1.875h-.75zM9.75 8.625c0-1.036.84-1.875 1.875-1.875h.75c1.036 0 1.875.84 1.875 1.875v11.25c0 1.035-.84 1.875-1.875 1.875h-.75a1.875 1.875 0 01-1.875-1.875V8.625zM3 13.125c0-1.036.84-1.875 1.875-1.875h.75c1.036 0 1.875.84 1.875 1.875v6.75c0 1.035-.84 1.875-1.875 1.875h-.75A1.875 1.875 0 013 19.875v-6.75z"></path>
          </svg>

          <h2 class="font-poppinsBold my-5 text-white">Estatísticas de estudo</h2>
          <p>Acompanhe o tempo de estudo por matéria de forma precisa.</p>
        </div>
      </div>

      <div class="my-20 py-10 grid grid-cols-5 gap-5">
        <div class="self-center col-span-2">
          <h2 class="font-poppinsBold text-2xl text-center my-10 text-white">O timer que te ajuda a focar no que importa</h2>
        </div>
        <div class="col-span-3"><img src="/public/img/screenshot.png" alt="" /></div>
      </div>
      <div class="my-20 py-10 grid grid-cols-5 gap-5">
        <div class="col-span-3"><img src="/public/img/screenshot2.png" alt="" /></div>
        <div class="self-center col-span-2">
          <h2 class="font-poppinsBold text-2xl text-center my-10 text-white">Obtenha insights valiosos sobre seus hábitos de estudo</h2>
        </div>
      </div>
      <div class="my-20 py-10 grid grid-cols-5 gap-5">
        <div class="self-center col-span-2">
          <h2 class="font-poppinsBold text-2xl text-center my-10 text-white">Modo claro é uma opção</h2>
        </div>
        <div class="col-span-3"><img src="/public/img/screenshot3.png" alt="" /></div>
      </div>
      <div class="text-center my-10">
        <a class="btn btn-lg btn-success ring-success/20 ring-4 hover:ring-success/80" href="https://app.estugram.com">Experimente agora</a>
      </div>

      <div class="my-10 py-10 text-center">
        <h2 class="font-poppinsBold text-2xl text-center my-10 text-white">Perguntas frequentes</h2>

        <div class="collapse collapse-arrow bg-base-200 my-5">
          <input type="radio" name="my-accordion-2" checked="checked" />
          <div class="collapse-title text-xl font-poppinsBold">O que é o Estugram?</div>
          <div class="collapse-content">
            <p>O Estugram é uma aplicação web projetada para ajudar você a gerenciar seu tempo de estudo de forma eficiente e acompanhar seu desempenho.</p>
          </div>
        </div>
        <div class="collapse collapse-arrow bg-base-200 my-5">
          <input type="radio" name="my-accordion-2" />
          <div class="collapse-title text-xl font-poppinsBold">Como o Estugram funciona?</div>
          <div class="collapse-content">
            <p>O Estugram oferece opções de timer, incluindo o Modo Pomodoro e o Cronômetro. Basta escolher o modo e começar a acompanhar seu tempo de estudo. Você pode também registrar suas questões realizadas a cada período de estudo.</p>
          </div>
        </div>
        <div class="collapse collapse-arrow bg-base-200 my-5">
          <input type="radio" name="my-accordion-2" />
          <div class="collapse-title text-xl font-poppinsBold">Posso usar o Estugram em qualquer dispositivo?</div>
          <div class="collapse-content">
            <p>Sim, o Estugram é uma aplicação web acessível diretamente em seu navegador, o que significa que você pode usá-lo em dispositivos desktop, laptops, tablets e smartphones.</p>
          </div>
        </div>
        <div class="collapse collapse-arrow bg-base-200 my-5">
          <input type="radio" name="my-accordion-2" />
          <div class="collapse-title text-xl font-poppinsBold">Como o Estugram acompanha meu tempo de estudo por matéria?</div>
          <div class="collapse-content">
            <p>O Estugram permite que você defina metas de estudo por matéria e registre o tempo dedicado a cada uma delas. Isso ajuda a visualizar onde você está investindo mais tempo.</p>
          </div>
        </div>
        <div class="collapse collapse-arrow bg-base-200 my-5">
          <input type="radio" name="my-accordion-2" />
          <div class="collapse-title text-xl font-poppinsBold">O Estugram oferece insights sobre meu desempenho em questões?</div>
          <div class="collapse-content">
            <p>Sim, o Estugram oferece estatísticas detalhadas sobre as questões estudadas, permitindo que você avalie seu progresso e identifique áreas de melhoria.</p>
          </div>
        </div>
        <div class="collapse collapse-arrow bg-base-200 my-5">
          <input type="radio" name="my-accordion-2" />
          <div class="collapse-title text-xl font-poppinsBold">Há opção de personalização do timer?</div>
          <div class="collapse-content">
            <p>Sim, o Estugram permite personalizar as configurações do timer, incluindo duração dos intervalos e tempo de estudo, de acordo com suas preferências.</p>
          </div>
        </div>
        <div class="collapse collapse-arrow bg-base-200 my-5">
          <input type="radio" name="my-accordion-2" />
          <div class="collapse-title text-xl font-poppinsBold">Posso usar o Estugram para outros tipos de tarefas além de estudos?</div>
          <div class="collapse-content">
            <p>Embora o Estugram seja projetado para otimizar o tempo de estudo, você também pode adaptá-lo para outras tarefas que requerem foco e gerenciamento de tempo.</p>
          </div>
        </div>
        <div class="collapse collapse-arrow bg-base-200 my-5">
          <input type="radio" name="my-accordion-2" />
          <div class="collapse-title text-xl font-poppinsBold">Como faço para entrar em contato com o suporte ao cliente do Estugram?</div>
          <div class="collapse-content">
            <p>Você pode entrar em contato com nossa equipe de suporte enviando um e-mail para ajuda@estugram.com ou através de direct nas nossas redes sociais.</p>
          </div>
        </div>
        <div class="collapse collapse-arrow bg-base-200 my-5">
          <input type="radio" name="my-accordion-2" />
          <div class="collapse-title text-xl font-poppinsBold">Existe uma versão gratuita do Estugram?</div>
          <div class="collapse-content">
            <p>O estugram é totalmente gratuito!</p>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
