---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Privacidade">
  <main class="md:w-[1024px] mx-auto">
    <h1 class="font-poppinsBold text-2xl font-bold">Política de privacidade</h1>

    <p class="my-5">A sua privacidade é importante para nós. É política do Estugram respeitar a sua privacidade em relação a qualquer informação sua que possamos coletar no site Estugram, e outros sites que possuímos e operamos.</p>
    <p class="my-5">Solicitamos informações pessoais apenas quando realmente precisamos delas para lhe fornecer um serviço. Fazemo-lo por meios justos e legais, com o seu conhecimento e consentimento. Também informamos por que estamos coletando e como será usado.</p>
    <p class="my-5">Apenas retemos as informações coletadas pelo tempo necessário para fornecer o serviço solicitado. Quando armazenamos dados, protegemos dentro de meios comercialmente aceitáveis ​​para evitar perdas e roubos, bem como acesso, divulgação, cópia, uso ou modificação não autorizados.</p>
    <p class="my-5">Não compartilhamos informações de identificação pessoal publicamente ou com terceiros, exceto quando exigido por lei.</p>
    <p class="my-5">O nosso site pode ter links para sites externos que não são operados por nós. Esteja ciente de que não temos controle sobre o conteúdo e práticas desses sites e não podemos aceitar responsabilidade por suas respectivas políticas de privacidade.</p>
    <p class="my-5">Você é livre para recusar a nossa solicitação de informações pessoais, entendendo que talvez não possamos fornecer alguns dos serviços desejados.</p>
    <p class="my-5">O uso continuado de nosso site será considerado como aceitação de nossas práticas em torno de privacidade e informações pessoais.</p>
    <p class="my-5">Se você tiver alguma dúvida sobre como lidamos com dados do usuário e informações pessoais, entre em contato conosco.</p>

    <h2 class="my-10 font-poppinsBold text-2xl font-bold">Compromisso do usuário</h2>
    <p class="my-5">O usuário se compromete a fazer uso adequado dos conteúdos e da informação que o Estugram oferece no site e com caráter enunciativo, mas não limitativo:</p>
    <p class="my-5">A) Não se envolver em atividades que sejam ilegais ou contrárias à boa fé a à ordem pública;</p>
    <p class="my-5">B) Não difundir propaganda ou conteúdo de natureza racista, xenofóbica, ou azar, qualquer tipo de pornografia ilegal, de apologia ao terrorismo ou contra os direitos humanos;</p>
    <p class="my-5">C) Não causar danos aos sistemas físicos (hardwares) e lógicos (softwares) do Estugram, de seus fornecedores ou terceiros, para introduzir ou disseminar vírus informáticos ou quaisquer outros sistemas de hardware ou software que sejam capazes de causar danos anteriormente mencionados.</p>

    <h2 class="my-10 text-2xl font-poppinsBold font-bold">Mais informações</h2>
    <p class="my-5">Esperemos que esteja esclarecido e, como mencionado anteriormente, se houver algo que você não tem certeza se precisa ou não, geralmente é mais seguro deixar os cookies ativados, caso interaja com um dos recursos que você usa em nosso site.</p>
    <p class="my-5">Esta política é efetiva a partir de Maio de 2022.</p>
  </main>
</Layout>
