@tailwind base;
@tailwind components;
@tailwind utilities;

/* Register your custom font family and tell the browser where to find it. */
@font-face {
  font-family: "poppinsBold";
  src: url("/fonts/Poppins-Bold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "poppinsExtra";
  src: url("/fonts/Poppins-ExtraBold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "poppinsRegular";
  src: url("/fonts/Poppins-Regular.ttf");
  font-display: swap;
}
@layer components {
  .link-nav {
    @apply hover:underline underline-offset-8 decoration-2 hover:text-green;
  }
  .cta-button {
    @apply btn btn-lg btn-success bg-green ring-green/10 ring-4 hover:ring-green/60 hover:bg-green;
  }
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "cv11", "salt", "ss01", "ss03", "cv01", "cv02", "cv03", "cv04", "cv05", "cv06", "cv09", "cv10";
}
