---
interface Props {
  title: string;
}
import { Image } from "astro:assets";
import logo from "../img/estugram_logo.png";

const { title } = Astro.props;

import "../css/base.css";
---

<!doctype html>
<html lang="pt-br" data-theme="night">
  <head>
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-MW5NXNR7");
    </script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8" />
    <meta name="description" content="Domine seu tempo de estudo com o Estugram, a aplicação web definitiva para controle de estudo eficiente. Aproveite o Modo Pomodoro, rastreie seu desempenho em questões e alcance a produtividade máxima." />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <meta name="keywords" content="site pomodoro, timer pomodoro, site para organizar os estudos, pomodoro online, temporizador de estudos, timer para estudos, cronômetro para estudar" />
    <title>{title}</title>
  </head>
  <body class="font-sans min-h-screen">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MW5NXNR7" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <nav class="mx-auto my-10 grid px-5 md:grid-cols-2 lg:w-[1024px]">
      <div>
        <a href="/" title="Página inicial">
          <Image src={logo} class="w-full md:w-[250px]" alt="Estugram" />
        </a>
      </div>
      <div class="mt-20 flex justify-center items-center md:justify-end gap-10 md:mt-0">
        <a class="link-nav" href="/#recursos">Saiba mais</a>
        <a class="link-nav" href="https://blog.estugram.com">Blog</a>
        <a href="https://app.estugram.com" class="cta-button">Entrar</a>
      </div>
    </nav>
    <div class="lg:w-[1024px] mx-auto min-h-screen">
      <slot />
    </div>

    <div class="bg-base-200 py-5">
      <footer class="lg:w-[1024px] mx-auto footer px-10 py-5 text-base-content">
        <aside class="items-center grid-flow-col">
          <Image class="mb-5" src={logo} class="w-[250px]" alt="Estugram - Domine seu tempo de estudo" />
        </aside>
        <nav class="md:place-self-center md:justify-self-end">
          <div class="grid grid-flow-col gap-4">
            <a class="link-nav text-green font-bold" href="https://blog.estugram.com">Blog</a>
            <a class="link-nav" href="https://instagram.com/estugram.app">Instagram</a>
            <a class="link-nav" href="https://twitter.com/estugramapp">Twitter</a>
            <a class="link-nav" href="/termos">Termos</a>
            <a class="link-nav" href="/privacidade">Privacidade</a>
          </div>
        </nav>
      </footer>
      <div class="lg:w-[1024px] mx-auto text-center py-5 text-sm">
        <p>Precisando de ajuda? Envie email para ajuda@estugram.com</p>
      </div>
    </div>
  </body>
</html>
