---
interface Props {
  title: string;
}
import { Image } from "astro:assets";
import logo from "../img/estugram_logo.png";

const { title } = Astro.props;

import "../css/base.css";
---

<!doctype html>
<html lang="pt-br" data-theme="night">
  <head>
    <script defer data-domain="estugram.com" src="https://plausible.estugram.com/js/script.js"></script>
    <meta charset="UTF-8" />
    <meta name="description" content="Domine seu tempo de estudo com o Estugram, a aplicação web definitiva para controle de estudo eficiente. Aproveite o Modo Pomodoro, rastreie seu desempenho em questões e alcance a produtividade máxima." />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <meta name="keywords" content="site pomodoro, timer pomodoro, site para organizar os estudos, pomodoro online, temporizador de estudos, timer para estudos, cronômetro para estudar" />
    <title>{title}</title>
    <!-- Meta Pixel Code -->
    <script>
      !(function (f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function () {
          n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments);
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = "2.0";
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s);
      })(window, document, "script", "https://connect.facebook.net/en_US/fbevents.js");
      fbq("init", "1161322391536594");
      fbq("track", "PageView");
    </script>
    <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1161322391536594&ev=PageView&noscript=1" /></noscript>
    <!-- End Meta Pixel Code -->
  </head>
  <body class="font-sans min-h-screen">
    <nav class="mx-auto my-10 grid px-5 md:grid-cols-2 lg:w-[1024px]">
      <div>
        <a href="/" title="Página inicial">
          <Image src={logo} class="w-full md:w-[250px]" alt="Estugram" loading="eager" />
        </a>
      </div>
      <div class="mt-20 flex justify-center items-center md:justify-end gap-10 md:mt-0">
        <a class="link-nav" href="/#recursos">Saiba mais</a>
        <a class="link-nav" href="https://blog.estugram.com">Blog</a>
        <a href="https://app.estugram.com" class="cta-button">Entrar</a>
      </div>
    </nav>
    <div class="lg:w-[1024px] mx-auto min-h-screen">
      <slot />
    </div>

    <div class="bg-base-200 py-5">
      <footer class="lg:w-[1024px] mx-auto footer px-10 py-5 text-base-content">
        <aside class="items-center grid-flow-col">
          <Image class="mb-5" src={logo} class="w-[250px]" alt="Estugram - Domine seu tempo de estudo" />
        </aside>
        <nav class="md:place-self-center md:justify-self-end">
          <div class="grid grid-flow-col gap-4">
            <a class="link-nav text-green font-bold" href="https://blog.estugram.com">Blog</a>
            <a class="link-nav" href="https://instagram.com/estugram.app">Instagram</a>
            <a class="link-nav" href="https://twitter.com/estugramapp">Twitter</a>
            <a class="link-nav" href="/termos">Termos</a>
            <a class="link-nav" href="/privacidade">Privacidade</a>
          </div>
        </nav>
      </footer>
      <div class="lg:w-[1024px] mx-auto text-center py-5 text-sm">
        <p>Precisando de ajuda? Envie email para ajuda@estugram.com</p>
      </div>
    </div>
  </body>
</html>
