---
interface Props {
  title: string;
}

const { title } = Astro.props;

import "../../public/css/base.css";
---

<!DOCTYPE html>
<html lang="pt-br" data-theme="night">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Estugram simplifica a organização dos seus estudos. Estude com mais produtividade e eficiência controlando seu desempenho nas matérias e assuntos que estudou" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <meta name="keywords" content="organização, estudos, cronômetro, relatório, desempenho, pomodoro, produtividade, controle, eficiência, concursos, provas, OAB, Enem, vestibular" />
    <link rel="stylesheet" href="/css/base.css" />
    <title>{title}</title>
  </head>
  <body class="font-poppins min-h-screen">
    <nav class="mx-auto my-10 grid px-5 md:grid-cols-2 md:px-0 lg:w-[1024px]">
      <div>
        <a href="/">
          <img src="/img/estugram-logo.png" width="250px" alt="" />
        </a>
      </div>
      <div class="flex justify-end gap-10 items-center">
        <a class="link-nav" href="#recursos">Saiba mais</a>
        <a class="link-nav" href="https://blog.estugram.com">Blog</a>
        <a href="https://app.estugram.com" class="btn btn-success ring ring-success/20 hover:ring-success/80 px-8">Entrar</a>
      </div>
    </nav>
    <slot />

    <div class="px-5 md:px-0 bg-base-200 mt-20 py-10">
      <div class="md:w-[1024px] mx-auto">
        <div class="grid md:grid-cols-2 gap-5">
          <div class="text-sm">
            <img class="mb-5" src="/img/estugram-logo.png" width="250px" alt="" />

            <p class="my-5">Entre em contato no email ajuda@estugram.com</p>
          </div>

          <div class="flex gap-5 justify-end">
            <a class="link-nav" href="/privacidade">Privacidade</a>
            <a class="link-nav" href="/termos">Termos</a>
            <a class="link-nav" href="https://instagram.com/estugram.app">Instagram</a>
            <a class="link-nav" href="https://twitter.com/estugramapp">Twitter</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
