---
interface Props {
  title: string;
}
import { Image } from 'astro:assets';
import logo from '../img/estugram-logo.png';

const { title } = Astro.props;

import "../css/base.css";
---

<!DOCTYPE html>
<html lang="pt-br" data-theme="night">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Domine seu tempo de estudo com o Estugram, a aplicação web definitiva para controle de estudo eficiente. Aproveite o Modo Pomodoro, rastreie seu desempenho em questões e alcance a produtividade máxima." />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <meta name="keywords" content="organização, estudos, cronômetro, relatório, desempenho, pomodoro, produtividade, controle, eficiência, concursos, provas, OAB, Enem, vestibular, Estugram, Controle de Tempo de Estudo, Aplicativo de Estudo, Gerenciamento de Tempo, Modo Pomodoro, Cronômetro de Estudo, Estatísticas de Estudo, Desempenho em Questões, Produtividade de Estudo, Temporizador de Estudo, Metas de Estudo, Acompanhamento de Estudo, Foco no Estudo, Tecnologia de Estudo, Eficiência de Estudo, Estudar com Propósito, Duração de Estudo, Tempo de Estudo por Matéria, Ferramenta de Aprendizado, Estudar com Concentração, Organização de Estudo, Timer Inteligente, Desenvolvimento de Hábitos,Estudar Online, Análise de Desempenho,
    Metas de Aprendizado, Gerenciamento de Estudo, Tempo de Estudo Efetivo, Estudar de Forma Eficaz, Acompanhamento de Metas, timer pomodoro, pomodoro timer, pomodoro estudo, estudar com pomodoro" />
    <title>{title}</title>
  </head>
  <body class="font-poppins min-h-screen">
    <nav class="mx-auto my-10 grid px-5 md:grid-cols-2 md:px-0 lg:w-[1024px]">
      <div>
        <a href="/" title="Página inicial">
          <Image src={logo} class="w-full md:w-[250px]" alt="Estugram" />
        </a>
      </div>
      <div class="mt-20 flex justify-center items-center md:justify-end gap-10 md:mt-0">
        <a class="link-nav" href="/#recursos">Saiba mais</a>
        <a class="link-nav" href="https://blog.estugram.com">Blog</a>
        <a href="https://app.estugram.com" class="cta-button">Entrar</a>
      </div>
    </nav>
    <div class="md:w-[1024px] mx-auto min-h-screen">
      <slot />
    </div>

    <div class="px-5 md:px-0 bg-base-200 mt-20 py-10">
      <div class="md:w-[1024px] mx-auto">
        <div class="grid md:grid-cols-2 gap-5">
          <div class="text-sm">
            <Image class="mb-5" src={logo} class="w-[250px]" alt="Estugram - Domine seu tempo de estudo" />

            <p class="my-5">Precisando de ajuda? Envie email para ajuda@estugram.com</p>
          </div>

          <div class="flex gap-5 justify-end">
            <a class="link-nav" href="/privacidade">Privacidade</a>
            <a class="link-nav" href="/termos">Termos</a>
            <a class="link-nav" href="https://instagram.com/estugram.app">Instagram</a>
            <a class="link-nav" href="https://twitter.com/estugramapp">Twitter</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
